{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block title %}شاپیکس | سبد خرید {% endblock %}

   
{% block header %}
    <!-- Header -->
    <header class="relative w-full flex items-center justify-center overflow-hidden">
        <!-- BG -->
        <div
            class="absolute top-20 left-20 w-[28rem] h-[28rem] bg-indigo-400 rounded-full mix-blend-multiply filter blur-[180px] opacity-25">
        </div>
        <div
            class="absolute bottom-32 right-32 w-[28rem] h-[28rem] bg-pink-400 rounded-full mix-blend-multiply filter blur-[180px] opacity-25">
        </div>
        <div
            class="absolute top-1/2 left-1/2 w-[30rem] h-[30rem] bg-blue-400 rounded-full mix-blend-multiply filter blur-[200px] opacity-15 -translate-x-1/2 -translate-y-1/2">
        </div>

        <!-- BG -->
        <div class="absolute bottom-0 left-0 w-full h-40 bg-gradient-to-t from-gray-50 to-transparent z-10"></div>

        {% include "navbar.html" %}
    </header>
{% endblock %}

{% block content %}
     <!-- shopping cart -->
     <div class='container mt-32'>

     <section
            class="flex flex-col lg:flex-row justify-between items-start gap-4 *:rounded-lg *:bg-white *:shadow *:p-4 mt-5">
            <!-- products -->
            <div class="w-full lg:w-3/4 flex flex-col gap-y-8 ">
                <!-- shopping cart header -->
                <div class="flex items-center justify-between">
                     {% if cart_products %}
                    <span class="flex items-center gap-x-2">
                        <h2 class="font-DanaMedium text-xl">سبد خرید</h2>
                        <p class="text-gray-400">(2 کالا)</p>
                    </span>
                   
                    <span class="flex items-center gap-x-1 text-red-600 cursor-pointer">
                        <p class="mt-1 font-DanaMedium ">حذف همه</p>
                        <svg class="w-5 h-5">
                            <use href="#trash"></use>
                        </svg>
                    </span>
                    {% endif %}
                </div>
                <!-- PRODUCT ITEMS -->
                <div
                    class="w-full flex flex-col gap-y-4 *:p-2 lg:*:p-4 ">
                    <!-- PRODUCT ITEM -->
                     {% if cart_products %}
                     {% for product in cart_products  %}
                        <div class="w-full flex justify-between relative border-b-2 border-gray-200 ">
                            <div class="flex flex-col sm:flex-row items-center gap-6">
                                <!-- IMG AND COUNT BTN -->
                                <div class="flex w-fit flex-col">
                                <div class="w-28">
                                    <img src="{{product.image.url}}">
                                </div>
                                    <button
                                        class="flex mt-3 items-center justify-between gap-x-1 rounded-lg border border-gray-200 py-1 px-2">
                                        <svg class="w-4 h-4 increment text-green-600">
                                            <use href="#plus"></use>
                                        </svg>
                                        <input type="number" name="customInput" id="customInput" min="1" max="20" value="{% for k, v in quantities.items %}{% if k == product.id|slugify %}{{ v }}{% endif %}{% endfor %}"
                                            class="custom-input mr-8 text-lg bg-transparent">
                                        <svg class="w-4 h-4 decrement text-red-500">
                                            <use href="#minus"></use>
                                        </svg>
                                    </button>
                                </div>
                                <!-- information and name product -->
                                <div class="flex flex-col gap-y-4">
                                    <h2 class="font-DanaMedium line-clamp-1">
                                        {{product.name}}
                                    </h2>
                                    <ul
                                        class="space-y-3 *:text-sm text-gray-400 *:flex *:items-center *:gap-x-1.5">
                                        <li>
                                            <span class="size-5 bg-blue-500 rounded-full"></span>
                                            <p>آبی</p>
                                        </li>
                                        <li>
                                            <svg class="w-5 h-5">
                                                <use href="#shield"></use>
                                            </svg>
                                            <p class="mt-1">گارانتی 18 ماهه</p>
                                        </li>
                                    </ul>
                                    <span class="flex items-center gap-x-1 text-gray-700 font-DanaMedium mt-4">
                                        <p class="font-DanaMedium text-xl">{{product.final_price|intcomma}}</p>
                                        <p class="text-lg">تومان</p>
                                    </span>
                            
                                    <button class='delete-product' data-index='{{product.id}}'>
                                    <svg class="flex absolute top-0 left-0 w-5 h-5">
                                        <use href="#close"></use>
                                    </svg>  
                                    </button>
                                </div>
                            </div>   
                        </div>
                   {% endfor %}
                   {% else %}
                        <p class='text-center font-DanaMedium text-xl'>سبد خرید شما خالی میباشد!</p>
                   {% endif %}
                </div>
            </div>

            <!-- PRICE BOX -->
            <div class="w-full lg:w-1/4 lg:sticky top-5 flex flex-col gap-y-4">
                <!-- PRICE -->
                <ul class="*:flex *:items-center *:justify-between space-y-8">
                    <li>
                        <p>قیمت کالاها(۱)</p>
                        <p class="flex gap-x-1 text-gray-600">0<span class="hidden xl:flex">تومان</span></p>
                    </li>
                    <li>
                        <p>تخفیف </p>
                        <p class="font-DanaMedium text-gray-700">  
                           0
                        </p>
                    </li>
                    <li class="border-t-2 border-dashed border-gray-400 pt-8">
                        <p> مبلغ نهایی  :</p>
                        <p>
                            {{totals|intcomma}}
                        </p>
                    </li>
                </ul>

                <a href="{% url "checkout" %}"
                    class="w-full mt-4 flex items-center gap-x-1 justify-center bg-blue-500 text-white hover:bg-blue-600 transition-all rounded-lg shadow py-2">
                    تایید و تکمیل سفارش
                    <svg class="w-5 h-5">
                        <use href="#shopping-bag"></use>
                    </svg>
                </a>

            </div>
     </section>
     </div>


<script>
    $(document).on('click' , '.delete-product' , function(e){
        e.preventDefault()
        $.ajax({
            type : 'POST',
            url: "{% url 'cart_delete' %}",
            data: {
                product_id : $(this).data('index'),
                csrfmiddlewaretoken : '{{ csrf_token }}',
                action: 'post'
            },
            success : function(json){
              location.reload()
            },
            error: function(xhr,errmsg,err){
            }
        })
    })
</script>
{% endblock %}
{% include "footer.html" %}