{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}شاپیکس | فروشگاه {% endblock %}

   
{% block header %}
    <!-- Header -->
    <header class="relative w-full flex items-center justify-center overflow-hidden">
        <!-- BG -->
        <div
            class="absolute top-20 left-20 w-[28rem] h-[28rem] bg-indigo-400 rounded-full mix-blend-multiply filter blur-[180px] opacity-25">
        </div>
        <div
            class="absolute bottom-32 right-32 w-[28rem] h-[28rem] bg-pink-400 rounded-full mix-blend-multiply filter blur-[180px] opacity-25">
        </div>
        <div
            class="absolute top-1/2 left-1/2 w-[30rem] h-[30rem] bg-blue-400 rounded-full mix-blend-multiply filter blur-[200px] opacity-15 -translate-x-1/2 -translate-y-1/2">
        </div>

        <!-- BG -->
        <div class="absolute bottom-0 left-0 w-full h-40 bg-gradient-to-t from-gray-50 to-transparent z-10"></div>

        {% include "navbar.html" %}
    </header>
{% endblock %}


{% block content %}
        <div class='container mt-32'>
           <!-- Breadcrumbs -->
          <section>
               <ul class="flex items-center gap-x-2 text-gray-400 text-sm lg:text-base">
                    <li class="flex items-center gap-x-2">
                         <a href="{% url "home" %}">صفحه اصلی</a>
                         <svg class="w-4 h-4">
                              <use href="#chevron-left"></use>
                         </svg>
                    </li>
                    <li class="flex items-center gap-x-2">
                         <a href="{% url 'category' 'all' %}">فروشگاه </a>
                         <svg class="w-4 h-4">
                              <use href="#chevron-left"></use>
                         </svg>
                    </li>
                    <li class="flex items-center gap-x-2">
                         <p>گوشی</p>
                    </li>

               </ul>
          </section>

          <div class="flex flex-col lg:flex-row gap-5 mt-6">
               <!-- SIDE FILTER BOX -->
               <div
                    class="lg:sticky top-1 h-fit lg:w-1/4 flex flex-col gap-y-4 items-center shadow rounded-lg p-4 bg-white">
                    <!-- TITLE -->
                    <div class="flex items-center justify-between w-full px-2">
                         <span class="flex items-center gap-x-1">
                              <p class="font-DanaMedium text-gray-700 text-lg">فیلترها
                              </p>
                         </span>
                         <p class="text-blue-500  text-sm cursor-pointer"> اعمال فیلتر‌ها</p>
                    </div>
                    <div class="w-full mt-5">
                         <ul class="w-full divide-y divide-slate-200 flex flex-col gap-y-4 *:flex *:items-center *:justify-between *:pb-4">
                              <li>
                                   <label class="font-DanaMedium" for="switch-1">فقط کالا های موجود</label>
                                   <div class="relative inline-block w-11 h-5">
                                        <input id="switch-1" type="checkbox"
                                             class="peer appearance-none w-11 h-5 bg-slate-100 rounded-full checked:bg-blue-600 cursor-pointer transition-colors duration-300" />
                                        <label for="switch-component-blue"
                                             class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full border border-slate-300 shadow-sm transition-transform duration-300 peer-checked:translate-x-6 peer-checked:border-blue-600 cursor-pointer">
                                        </label>
                                   </div>
                              </li>
                              <li>
                                   <label class="font-DanaMedium" for="switch-2">فقط کالا های تخفیف دار</label>
                                   <div class="relative inline-block w-11 h-5">
                                        <input  id="switch-2" type="checkbox"
                                             class="peer appearance-none w-11 h-5 bg-slate-100 rounded-full checked:bg-blue-600 cursor-pointer transition-colors duration-300" />
                                        <label for="switch-component-blue"
                                             class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full border border-slate-300 shadow-sm transition-transform duration-300 peer-checked:translate-x-6 peer-checked:border-blue-600 cursor-pointer">
                                        </label>
                                   </div>
                              </li>
                         </ul>


                    </div>

               </div>
               <!-- FILTER BOXES & products -->
               <div class="lg:w-3/4">
                    <!-- TOP FILTER BOX -->
                    <div class="w-full flex flex-col md:flex-row items-start md:items-center justify-between lg:gap-x-8 gap-y-5 mb-6">
                         <!-- Result -->
                         <div class="flex flex-col gap-y-2">
                              <h2 class="flex items-center gap-x-1 text-lg font-DanaDemiBold">
                                   <svg class="size-5">
                                        <use href="#filter"></use>
                                   </svg>
                                   نتیجه جستجو برای : <span class="text-indigo-600">{{category.name}}</span>
                              </h2>
                              <span class="flex items-center gap-x-1 text-gray-500 font-DanaMedium">
                                   {{total}} <p>محصول</p>
                              </span>
                         </div>
                         <!-- Searchbox -->
                         <form method='POST' action="{% url 'category' 'all' %}" class="w-72">
                              {% csrf_token %}
                              <div class="relative">
                                   <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-5 h-5 text-gray-500" aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                        </svg>
                                   </div>
                                   <input type="text" name='searched' 
                                        class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-xl bg-gray-100 focus:ring-blue-500 focus:border-blue-500"
                                        placeholder="نام محصول..." required />
                                   <button type="submit"
                                        class="text-white absolute end-2.5 bottom-1.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1.5">جستجو</button>
                              </div>
                         </form>
                    </div>
                    <!-- PRODUCTS -->
                    {% if products %}
                    <div
                         class="mt-4 grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 xl:grid-cols-3 gap-3 *:h-90 *:bg-white  *:shadow *:rounded-2xl *:relative *:p-4">
                         <!-- Items -->
                         {% for product in products %}
                         <div class="group">
                              {% if product.discount > 0 %}
                              <span
                                   class="absolute z-10 left-0 top-5 bg-red-300/30 text-rose-600 font-semibold text-sm pt-1 px-4 rounded-r-xl">
                                   OFF
                              </span>
                              {% endif %}
                              <a href="{% url 'product' product.id %}" class="flex items-center justify-center">
                                   <div class="h-55 w-48 object-cover flex items-center justify-center">
                                        <img class="group-hover:scale-105 delay-100 duration-300 transition-all"
                                             src="{{ product.image.url }}" alt="">
                                   </div>
                              </a>
                              <div class="flex flex-col justify-between mt-4 h-24">
                                   <a href="{% url 'product' product.id %}"
                                        class="hover:text-blue-600 duration-300 transition-all text-base font-DanaDemiBold line-clamp-1">
                                        {{ product.name }}
                                   </a>
                                   <div class="flex items-end justify-between">
                                        <a href="{% url 'product' product.id %}"
                                             class="size-9 shadow hover:bg-indigo-500 transition-all bg-indigo-600 rounded-xl flex items-center justify-center cursor-pointer">
                                             <svg class="size-5 text-gray-50">
                                                  <use href="#eye"></use>
                                             </svg>
                                        </a>
                                        <div class="flex flex-col items-end gap-y-1">
                                             <div class="flex items-center gap-x-1">
                                                  <p class="font-DanaDemiBold text-lg">{{ product.final_price|intcomma }}</p>
                                                  <span class="font-DanaMedium text-sm">تومان</span>
                                             </div>
                                             {% if product.discount > 0 %}
                                             <div class="flex items-center gap-x-1 text-gray-600">
                                                  <del>{{ product.price|intcomma }}</del>
                                                  <span
                                                       class="size-7 rounded-xl flex items-center justify-center text-white bg-red-500">
                                                       {{ product.discount }}%
                                                  </span>
                                             </div>
                                             {% endif %}
                                        </div>
                                   </div>
                              </div>
                         </div>
                         {% endfor %}
                    </div>
                    {% endif %}
               </div>
          </div>
        </div>

{% endblock %}
{% include "footer.html" %}
