 <!-- Footer -->
<footer class="bg-white mt-20">
        <div class="container mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="{% url "home" %}" class="text-3xl font-MorabbaBold text-indigo-600">شاپیکس</a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <h2 class="mb-6 font-DanaDemiBold text-gray-900">دسترسی سریع</h2>
                        <ul class="text-gray-500 font-DanaMedium">
                            <li class="mb-4">
                                <a href="{% url "home" %}" class="hover:underline">صفحه اصلی</a>
                            </li>
                            <li>
                                <a href="" class="hover:underline">فروشگاه</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 font-DanaDemiBold text-gray-900">لینک های مفید</h2>
                        <ul class="text-gray-500 font-DanaMedium">
                            <li class="mb-4">
                                <a href="{% url "register" %}" class="hover:underline ">ثبت‌نام</a>
                            </li>
                            <li>
                                <a href="{% url "login" %}" class="hover:underline">ورود</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 font-DanaDemiBold text-gray-900">تماس با ما</h2>
                        <ul class="text-gray-500 font-DanaMedium">
                            <li class="mb-4">
                                <a href="https://t.me/parsavesalii" class="hover:underline">تلگرام </a>
                            </li>
                            <li>
                                <a href="https://github.com/parsa-vesali" class="hover:underline">گیت هاب</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-center">
                <span class="text-sm text-gray-500 sm:text-center ">
                    © 2025 Crafted with ❤️ by Parsa
                </span>


            </div>
        </div>
</footer>