{% extends "base.html" %}
{% load static %}

{% block title %}شاپیکس | ورود به حساب کاربری {% endblock %}

   
{% block header %}
    <!-- Header -->
    <header class="relative w-full flex items-center justify-center overflow-hidden">
        <!-- BG -->
        <div
            class="absolute top-20 left-20 w-[28rem] h-[28rem] bg-indigo-400 rounded-full mix-blend-multiply filter blur-[180px] opacity-25">
        </div>
        <div
            class="absolute bottom-32 right-32 w-[28rem] h-[28rem] bg-pink-400 rounded-full mix-blend-multiply filter blur-[180px] opacity-25">
        </div>
        <div
            class="absolute top-1/2 left-1/2 w-[30rem] h-[30rem] bg-blue-400 rounded-full mix-blend-multiply filter blur-[200px] opacity-15 -translate-x-1/2 -translate-y-1/2">
        </div>

        <!-- BG -->
        <div class="absolute bottom-0 left-0 w-full h-40 bg-gradient-to-t from-gray-50 to-transparent z-10"></div>

        {% include "navbar.html" %}
    </header>
{% endblock %}


{% block content %}
          <div class="container mx-auto px-4 py-8 bg-white shadow rounded-xl mt-32">
                <div class="flex flex-wrap -mx-4">
                    <!-- Product Images -->
                    <div class="w-full md:w-1/2 px-4 mb-8">
                        <img src="{{product.image.url}}" alt="{{product.name}}">
                    </div>

                    <!-- Product Details -->
                    <div class="w-full md:w-1/2 px-4">
                        <h2 class="text-xl font-DanaDemiBold mb-2">
                         {{product.name}}
                        </h2>
                        <a href="#" class="text-blue-500">
                            دسته بندی : {{product.category}}
                        </a>
                        <div class="my-4">
                            <span class="text-2xl font-DanaDemiBold mr-2">
                              {{product.price}}
                            </span>
                        </div>
                        <div class="flex items-center mb-4">
                            <svg class="size-5 text-amber-400">
                                <use href="#star"></use>
                            </svg>
                            <svg class="size-5 text-amber-400">
                                <use href="#star"></use>
                            </svg>
                            <svg class="size-5 text-amber-400">
                                <use href="#star"></use>
                            </svg>
                            <svg class="size-5 text-amber-400">
                                <use href="#star"></use>
                            </svg>
                            <span class="mr-2 mt-1.5 text-zinc-900 font-DanaDemiBold">4.5</span>
                        </div>
                        <p class="text-zinc-700 mb-6">
                            {{product.description}}
                        </p>

                        <div class="mb-6">
                            <h3 class="text-lg font-semibold mb-2">رنگ :</h3>
                            <div class="flex space-x-2">
                                <button
                                    class="w-8 h-8 bg-black rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black"></button>
                                <button
                                    class="w-8 h-8 bg-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300"></button>
                                <button
                                    class="w-8 h-8 bg-blue-500 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"></button>
                            </div>
                        </div>

                        <div class="flex space-x-4 mb-6">
                            <button type="button" value="{{product.id}}" id="add-cart"
                                class="bg-indigo-600 flex gap-2 items-center text-white px-4 py-2 rounded-lg cursor-pointer hover:bg-indigo-700">
                                <svg class="size-5">
                                    <use href="#cart"></use>
                                </svg>
                                افزودن به سبد خرید
                            </button>
                            <a href="{{ request.META.HTTP_REFERER|default:'/' }}"
                                class="bg-gray-200 flex gap-1 cursor-pointer items-center  text-gray-800 px-4 py-2 rounded-md hover:bg-gray-300">
                                برگشت
                                 <svg class="size-5">
                                    <use href="#chevron-left"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

<script>
    $(document).on('click' , '#add-cart' , function(e){
        e.preventDefault()
        $.ajax({
            type : 'POST',
            url: "{% url 'cart_add' %}",
            data: {
                product_id : $('#add-cart').val(),
                csrfmiddlewaretoken : '{{ csrf_token }}',
                action: 'post'
            },
            success : function(json){
               document.getElementById('cart_quantity').
                    textContent = json.qty
            },

            error: function(xhr,errmsg,err){

            }
        })


    })
</script>
{% endblock %}
{% include "footer.html" %}


