{% extends "base.html" %}
{% load static %}

{% block title %}شاپیکس | پروفایل {% endblock %}

   
{% block header %}
    <!-- Header -->
    <header class="relative w-full flex items-center justify-center overflow-hidden">
        <!-- BG -->
        <div
            class="absolute top-20 left-20 w-[28rem] h-[28rem] bg-indigo-400 rounded-full mix-blend-multiply filter blur-[180px] opacity-25">
        </div>
        <div
            class="absolute bottom-32 right-32 w-[28rem] h-[28rem] bg-pink-400 rounded-full mix-blend-multiply filter blur-[180px] opacity-25">
        </div>
        <div
            class="absolute top-1/2 left-1/2 w-[30rem] h-[30rem] bg-blue-400 rounded-full mix-blend-multiply filter blur-[200px] opacity-15 -translate-x-1/2 -translate-y-1/2">
        </div>

        <!-- BG -->
        <div class="absolute bottom-0 left-0 w-full h-40 bg-gradient-to-t from-gray-50 to-transparent z-10"></div>

        {% include "navbar.html" %}
    </header>
{% endblock %}

    <!-- Main  -->
{% block content %}
    <div class="mt-36 flex items-center justify-center">
      <div class="flex w-96 min-h-full flex-col justify-center px-6 py-10 lg:px-8 bg-white shadow-lg rounded-xl">
               <div
                    class="sm:mx-auto sm:w-full sm:max-w-sm font-DanaDemiBold text-indigo-600 flex items-center justify-center">
                    <h2> ویرایش حساب کاربری</h2>
               </div>

               <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form action="{% url 'update_user' %}" method="POST" class="space-y-6">
                    {% csrf_token %}

                    <!-- نام کاربری -->
                    <div>
                        <label for="username" class="block font-DanaDemiBold text-gray-900">نام کاربری</label>
                        <div class="mt-2">
                            {{ user_form.username }}
                            {% if user_form.username.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ user_form.username.errors|striptags }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- ایمیل -->
                    <div>
                        <label for="email" class="block font-DanaDemiBold text-gray-900">ایمیل</label>
                        <div class="mt-2">
                            {{ user_form.email }}
                            {% if user_form.email.errors %}
                                <p class="text-red-500 text-sm mt-1">{{ user_form.email.errors|striptags }}</p>
                            {% endif %}
                        </div>
                    </div>


                    <button type="submit"
                            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm md:text-base font-semibold text-white shadow-xs hover:bg-indigo-500 cursor-pointer">
                        اپدیت
                    </button>
                </form>

            </div>


          </div>
     </div>
{% endblock %}

{% include "footer.html" %}
